
# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:MaQuGe
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE MaQuGe:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:heHepe
ErrorDocument 400 /400.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE heHepe:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:tyjusa
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE tyjusa:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:taRury
ErrorDocument 500 /500.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE taRury:ERRORPAGEID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:hytyme
ErrorDocument 401 /401.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE hytyme:ERRORPAGEID




php_value upload_max_filesize 10M
php_value post_max_size 20M
php_value max_execution_time 120
php_value max_input_time 120 









Options -Indexes
